BasedOnStyle: Google
IndentWidth: 3
ColumnLimit: 120

BreakBeforeBraces: Allman
NamespaceIndentation: All
SpacesBeforeTrailingComments: 1
AccessModifierOffset: -3
BreakTemplateDeclarations: Yes

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false